body {
	background-color: #282828;
	color: #f8f8f2;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 18px;
}

.container {
	width: 100%;
}

.left {
	position: fixed;
	top: 0;
	left: 0;

	width: 50%;
	height: 100%;
	box-sizing: border-box;
	padding: 10px;
	border-right: 1px solid #555;
	box-shadow: 2px 0 10px #222;

	background-color: #444;
	font-family: 'Consolas', monospace;
}

.right {
	margin-left: 50%;

	width: 50%;
	box-sizing: border-box;
	padding: 10px;
}

#contents {
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: default;
}

#contents pre {
	overflow-x: scroll;
}

#errors {
	border-top: 1px solid #555;
	padding-top: 4px;

	color: #F92672;
	font-size: 12px;
}

textarea {
	box-sizing: border-box;
	width: 100%;
	height: 90%;
	background-color: #444;
	border: none;
	resize: none;
	color: #f8f8f2;
	font-family: 'Consolas', monospace;
	font-size: 16px;
}

textarea:focus {
	border: none;
	outline: none;